<html>
<head>
<title>CLAUSEN WORLD is now virus free.</title>
<style type="text/css">
 img {vertical-align:middle;display:block;
margin: auto;
margin-right: auto;border:solid red 10px;}
 body {}
 div#content {height:100%;}
 div#title {width:80%;border:solid black 1px;margin: auto;opacity:0.5;background-color:white}

 body { background-image:url('/public/sherbet-plaid.gif');}
 div#title h1 {color:red;font-size:60px;opacity:1}
</style>
</head>
<body>

<div id="content">
  <div id="title"><marquee><blink><h1>Cats are Pretty!</h1></blink></marquee></div>
  <img src="/public/brian.jpg" />
  </div>
  

</body>
</html>